<?php 
require '../src/config/db.php';
echo $id;
$q1 = "SELECT * from admin where id='$id'";
$r1 = mysqli_query($connect, $q1);
$ro1 = mysqli_fetch_array($r1);
if (!empty($ro1)) {
    $username = $ro1['username'];
    $password=$ro1['password'];
    $read=$ro1['readblog'];
    $delete=$ro1['deleteblog'];
    $update=$ro1['updateblog'];

}


?>
<!DOCTYPE html>
<html>
<head>

    <style>
        @media (max-width: 420px) {
            input[type="file"] {
                color: transparent;
                width: 100% !important;
            }
        }
    </style>
    <title>Edit Admin Details</title>

    <script>
        $(function () {
            $('input[type="file"]').change(function () {
                if ($(this).val() != "") {
                    $(this).css('color', '#333');
                } else {
                    $(this).css('color', 'transparent');
                }
            });
        })
    </script>
</head>
<body>

<div class="wrapper">
    

    <div id="content" style="padding: 0px 10px !important;">
        

        <h1 class="text-center">Edit Admin Details</h1>
        <link rel="stylesheet"  type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="../index.php" style="background-color: #ddddee; padding: 5px;"> Logout</a>
  <h5 class="text-center"> Admins Dashboard</h5>
</nav>

        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-8">
                      <form method="post" action="../templates/changeadmin.php">

    <div class="form-group"  style="width: 250px;">
    
    <input type="text" class="form-control" required name="id" hidden id="id" value="<?php echo $id; ?>">
    </div>

  <div class="form-group"  style="width: 250px;">
    <label >User Name</label>
    <input type="text" class="form-control"  placeholder="Enter Admins username" required name="username" id="username" value="<?php echo $username; ?>">
  </div>

  <div class="form-group" style="width: 250px;">
    <label >Password</label>
    <input type="text" class="form-control"  placeholder="Password" required name="password" value="<?php echo $password; ?>">
  </div>
  <div class="form-group"  style="width: 250px;">
    <label >Read BLog</label>
    <input type="text" class="form-control"  placeholder="Read BLog" required name="read" value="<?php echo $read; ?>">
  </div>
  <div class="form-group"  style="width: 250px;">
    <label >Delete BLog</label>
    <input type="text" class="form-control"  placeholder="Delete Blog" required name="delete" value="<?php echo $delete; ?>">
  </div>
  <div class="form-group"  style="width: 250px;">
    <label >Update Blog</label>
    <input type="text" class="form-control"  placeholder="updateblog" required name="update" value="<?php echo $update; ?>">
  </div>
  
  <button type="submit" class="btn btn-primary" name="submit" id='submit'>Submit</button>
</form>  
                </div>
                
            </div> 
        </div>

    </div>
</div>





</body>
</html>


